.contactLaptop-outer {
  position: relative;
  margin-top: 90px;
}
.techVerse-contact-imgIcon {
  position: absolute;
  bottom: -70px;
  left: 36%;
  width: 170px;
}
.contact-laptopBG {
  background-image: url("../../asserts/images/contact-laptopBG.png");
  background-size: cover;
}

.techVerse-contact-img {
  position: relative;
  z-index: 9;
}
.contact_formContent {
  background-image: url("../../asserts/images/bgContatc.png");
  padding-left: 100px;
  padding-top: 50px;
  position: relative;
  background-repeat: no-repeat;
  background-position: right;
}
.contact_formContent form {
  z-index: 9999;
}
.budget-header {
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px;
}
.budget-title {
  color: #02577a;
  font-size: 18px;
  font-weight: 600;
}

.budget-value {
  border: 1px solid #02a9f7;
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 5px;
}
.get_discount {
  background: #c71e2c;
  color: #fff;
  padding: 10px 10px;
  text-align: center;
  letter-spacing: 7px;
  font-size: 20px;
  word-spacing: 20px;
  text-transform: uppercase;
  font-family: "Sora", sans-serif;
  position: absolute;
  /* left: -36.1%; */
  left: -375px;
  top: 46%;
  transform: rotate(90deg);
  width: 800px;
}
.newLetterBox_strokeTxt {
  letter-spacing: 39px;
  line-height: 1;
  margin-bottom: -13px;
  -webkit-text-stroke: 1px #ffffff54;
  -webkit-text-fill-color: transparent;
  margin-left: 38px;
}
.news_letterInput {
  display: flex;
  background: #274f5c;
  padding: 10px 10px;
  border-radius: 5px;
}
.news_letterInput input {
  flex-grow: 1;
  background: transparent;
  padding: 0 12px;
}
.news_letterInput input:focus {
  border: unset;
  outline: unset;
}
.news_letterInput button {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  color: #000000;
  gap: 10px;
  font-size: 14px;
  border-radius: 6px;
  background-image: linear-gradient(45deg, #3dc1ff, #02a9f7);
  border: unset;
}
.budget-content {
  width: 100%;
}
.budget-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #142b38;
  outline: none;
  opacity: 1;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 20px;
}
.budget-slider:hover {
  opacity: 1;
}
.budget-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  background: #0faef9;
  cursor: pointer;
  border-radius: 20px;
}
.budget-slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

/* Contact Page Css Start React */
.inner_hero.contactUSNew_hero {
  /*background-image: url(../images/inner-hero-bg.gif);*/
  /* background-image: url(../images/contact-hero-form-bg.png); */
  background-image: url("../../asserts/images/contact-hero-form-bg.png");
}
.contactUSNew_hero .inner-bgColor:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: #001c36ab;
}
.contactPage_form {
  background-color: #fff;
  padding: 40px;
  border: 3px solid #3dc1ff;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.contactPage_form .contact_formContent {
  padding-left: 0;
  padding-top: 0;
  background-image: unset;
}
.contactUSNew_hero .box_icon img {
  width: 55px;
}
.icon_box p {
  margin-bottom: 0;
}
/* Contact Page Css End React */
